.sidebarBody {
    position: absolute;
    top: 55px;
    left: calc(50% + 110px);
    width: calc(100% - 220px);
    min-height: calc(100dvh - 55px);
    transform: translateX(-50%);

    @media only screen and (max-width: 850px) {
        top: 55px;
        left: 50%;
        // transform: translateX(-50%);
        width: 100%;
        // height: calc(100% - 55px);

        &[data-push="true"] {
            top: 55px;
        }
    }
}
